<header >
    <a class="logo" href="/"><img src="/UniChatLogo.png" alt=""></a>
        <div class="nav-links">
            <ul>
                <li><a href="/about">About Us</a></li>
                <li><a href="/explore">Explore</a></li>
                <li><a href="/chatBot">Research a College</a></li>
            </ul>
        </div>
</header>
