<h1>About</h1>
<p>Uni is a chatbot programmed to help students find a school for themselves, and then provide information on what the school requires. Uni provides statistical information like acceptance rates, tuition fees, required test scores, all in an easily legible human-like response. 
    Our goal is to provide assistance for students searching for their dream school and shed some weight off of school advisors/counselors so they can focus on the more important things.
    </p>