<!DOCTYPE html>
<html>
   <head>
      <title><%- title %></title>
      <meta name="viewport" content="with=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="main.css">
   </head>
   <body>
      <main>
         <h1>Top Schools</h1>

      </main>

      <%- include('partials/footer.ejs'); %>
   </body>
</html>