<!DOCTYPE html>
<html>
   <head>
      <title><%- title %></title>
      <meta name="viewport" content="with=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="main.css">
      <script type="text/javascript" src="../settings.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   </head>
   <body>
      <%- include('partials/header.ejs'); %>

      <main>
         <h1>User Settings</h1>

         <form id="filterForm" action="">
            <label for="private">Include private schools</label>
            <input type="checkbox" id="private" name="filters"/>

            <label for="religious">Include schools with a religious affiliation</label>
            <input type="checkbox" id="religious" name="filters"/>

            <label for="elite">Only show elite schools</label>
            <input type="checkbox" id="elite" name="filters"/>

            <input type="submit" name="apply" value="Apply Settings" />
         </form>
      </main>

      <%- include('partials/footer.ejs'); %>
   </body>
</html>