<!DOCTYPE html>
<html>
   <head>
      <title><%- title %></title>
      <meta name="viewport" content="with=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="main.css">
      <script src="{{ url_for('static', filename='../settings.js') }}"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   </head>
   <body>
      <%- include('partials/header.ejs'); %>

      <main>
         <h1>User Settings</h1>

         <h4>Include private schools</h4>
         <input type="checkbox" id="private" />

         <h4>Include schools with a religious affiliation</h4>
         <input type="checkbox" id="religious" />

         <h4>Only show elite schools</h4>
         <input type="checkbox" id="elite" />

         <input type="submit" name="apply" value="Apply Settings" onclick="applySettings();">
      </main>

      <%- include('partials/footer.ejs'); %>
   </body>
</html>