<title>UniChat: Welcome!</title>
<div class="landing">
    <h1>Deciding for College Kept Simple With Our Conversational AI Bot</h1>
    <!-- <p>Deciding for College Kept Simple With Our Conversational AI Bot</p> -->
    <a href="/chatBot" ></button>Starts With A Simple Hi!</a>

</div>