<!DOCTYPE html>
<html>
   <head>
      <title><%- title %></title>
      <meta name="viewport" content="with=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="main.css">
   </head>
   <body>
      <%- include('partials/header.ejs') %>
      <%- body %>
      <%- include('partials/footer.ejs') %>
   </body>
</html>